*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #2f0a6b;
    color: #f6f6f6;
}

.wrapper{
    width: 90%;
    max-width: 25rem;
    min-height: 70vh;
    margin: 3rem auto;
    background-color: #6063e2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 25px 5px rgba(246, 246, 246, 0.1);
    border-radius: 10px;
}

.entry{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.userinput{
    outline: none;
    height: 4rem;
    font-size: 1.5rem;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.userinput::selection{
    background-color: blue;
    color: rgb(246, 246, 246);
}

.submit,
.restart{
    all: unset;
    background-color: #c4c4c4;
    color: black;
    align-self: flex-start;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

.list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 20vh;
}

.wrapper ol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wrapper li{
    list-style-position: inside;
}

.col{
    background-color:  #18d0b0;
    color: black;
    text-transform: capitalize;
}